<div class="container">
    <h2 id="naslov2"><strong>O nama</strong></h2>
    <div class="row">
        <div class="col">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2000">
                        <img src="assets/slika13.jpg" class="d-block w-100" alt="rozi gelirani nokti" id="car">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="assets/slika3.jpg" class="d-block w-100" alt="narančasti gelirani nokti sa ukrasom"
                            id="car">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="assets/slika4.jpg" class="d-block w-100" alt="bijrli gelirani nokti sa ukrasom" id="car">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <p>Nail studio Freya pruža najbolju njegu noktiju u prijateljskoj i opuštajućoj atmosferi. <br> Naši
                djelatnici specijalizirani su u području njege noktiju te pomno prate i primjenjuju najnovije
                svjetske trendove. <br>
                Koristimo proizvode velikih svjetskih brendova kako bismo Vam pružali što veći izbor boja, premaza i
                ukrasa koji uljepšavaju vašu manikuru. <br>
                Smješteni smo u centru grada Rijeke, te termine možete zakazati u našem studiju ili <em>online</em>
                na našoj stranici.
            </p>
        </div>
    </div>
</div>