<div class="container">
  <div class="row">
      <div class="col">
          <h2 id="kon"><strong>Kontaktirajte nas...</strong></h2>
          <p id="tekst">Kontaktirajte nas ukoliko želite zakazati termin ili ako imate dodatnih pitanja vezanih uz
              brigu i njegu Vaših noktiju.<br>
              Veselimo se Vašem dolasku!</p>
          <table class="table table-sm">
              <tbody>
                  <tr>
                      <th scope="row">E-mail</th>
                      <td><a href="mailto:nailstudiofreya@gmail.com">nailstudiofreya&#64;gmail.com</a></td>
                  </tr>
                  <tr>
                      <th scope="row">Mobitel</th>
                      <td>+385 91 123 4567</td>
                  </tr>
                  <tr>
                      <th scope="row">Telefon</th>
                      <td>+385 51 987 654</td>
                  </tr>
                  <tr>
                      <th scope="row">Adresa</th>
                      <td>Adamićeva 3, 51000</td>
                  </tr>
                  <tr>
                      <th scope="row">Radno vrijeme</th>
                      <td>PON-PET: 8:00-21:00</td>
                  </tr>
          </table>
      </div>

      <div class="col" id="mapa">
          <div class="mapouter">
              <div class="gmap_canvas" id="map">
                  <iframe width="600" height="500" id="gmap_canvas" item
                      src="https://maps.google.com/maps?q=adami%C4%87eva%203%20rijeka&t=&z=13&ie=UTF8&iwloc=&output=embed"
                      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                      href="https://putlocker-is.org"></a>
                  <br>
              </div>
          </div>
          <br>
      </div>
  </div>
