<div class="container">
    <div class="row">
      <div class="col">
        <h2 id="galerija"><strong>Galerija</strong></h2>
      </div>
    </div>
    <div class="row" id="gal_sl">
      <div class="column" id="sl">
        <img src="assets/slika7.jpg" alt="plavi gelirani nokti">
        <img src="assets/slika20.jpg" alt="crni gelirani nokti sa šljokicama">
        <img src="assets/slika6.jpg" alt="plavi gelirani nokti">
      </div>
      <div class="column" id="sl">
        <img src="assets/slika15.jpg" alt="crni trajni lak sa ukrasom">
        <img src="assets/slika10.jpg" alt="crni gelirani nokti">
        <img src="assets/slika1.jpg" alt="crveni 'french tip' sa ukrasom">
      </div>
      <div class="column" id="sl">
        <img src="assets/slika13.jpg" alt="rozi gelirani nokti">
        <img src="assets/slika9.jpg" alt="crveni trejni lak sa ukrasom i šljokicama">
        <img src="assets/slika4.jpg" alt="bijeli gelirani nokti sa ukrasom">
      </div>
    </div>
  </div>
  