<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="home"><img src="assets/logo.svg" width="100" height="100"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <div id="hamburger"></div>
      <div id="hamburger"></div>
      <div id="hamburger"></div>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="home">Naslovnica</a>
        <a class="nav-link" href="about">O nama</a>
        <a class="nav-link" href="services">Usluge</a>
        <a class="nav-link" href="pricelist">Cjenik</a>
        <a class="nav-link" href="gallery">Galerija</a>
        <a class="nav-link" href="contact">Kontakt</a>
        <a class="nav-link" href="reservations">Rezervacije</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet><router-outlet/>