<div class="container">
    <h2 id="naslov2"><strong>Usluge</strong></h2>
    <div class="row">
        <div class="col" id="ponuda">
            <p>U nail studiju Freya nudimo razne tretmane za njegu Vaših noktiju. <br>
                Ukoliko imate problema sa rastom i čvrstoćom noktiju preporučamo <em>gel</em> ili <em>akril</em>
                tehniku. Ugradnjom gela dobivate željenu duljinu i zagarntiranu čvrstoću. To je najtrajniji oblik
                njege noktiju, preporuča se obnavljanje svaka 3 do 4 tjedna. Duljinu, oblik, boju i dizajn birate
                Vi,
                a tretman traje oko 60 min. <br>
                Ako smatrate da Vam dodatna duljina i čvrstoća noktiju nije potrebna već isključivo želite
                "uljepšati" svoje prirodne nokte, tehnika <em>trajni lak</em> je upravo ono što Vam treba. Ovim
                tretmanom sačuvate prirodnu duljinu i oblik Vaših noktiju te odabirom naših boja, premaza i ukrasa
                načinite sebi savršenu manikuru! <br>
                Uz već spomenute tretmane, u nail studiju Freya, također radimo korekcije, skidanje gela i trajnog
                laka.<br> Dodatno se naplaćuju korekcija, skidanje gela/trajnog laka, <em>Babyboom</em> i <em>French</em> tretmani, kao i bilo kakav oblik
                <em>nail art-a.</em> <br> Detaljniji pregled cijena možete pogledati <a
                    href="cjenik.html">ovdje</a>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <video controls>
            <source src="video2.mp4" type="video/mp4" alt="tehnika gel/akril">
          </video>
          <p>Video preuzet sa <a
              href="https://www.youtube.com/watch?v=uNYSJiKzcuc&ab_channel=TammyTaylor">linka</a>
          </p>
        </div>
      </div>

</div>