<div class="container">
    <div class="row">
      <img src="assets/slika0.jpg" id="lak" alt="lakovi za nokte">
    </div>
    <div class="row">
      <h2><strong>Cjenik</strong></h2>
      <table id="tablica">
        <td>Nadogradnja</td>
        <td>40 eura</td>
        <tr>
          <td>Korekcija</td>
          <td>30 eura</td>
        </tr>
        <tr>
          <td>Trajni lak</td>
          <td>25 eura</td>
        </tr>
        <tr>
          <td>Babyboom/French</td>
          <td>4 eura</td>
        </tr>
        <tr>
          <td>Nail art</td>
          <td>2 eura</td>
        </tr>
        <tr>
          <td>Skidanje gel</td>
          <td>10 eura</td>
        </tr>
        <tr>
          <td>Skidanje trajni lak</td>
          <td>7 eura</td>
        </tr>
      </table>
    </div>
  </div>
